@inherits LayoutComponentBase




<div class="bg-info text-white p-2">
    <span class="nav-bar-brand m-lg-2">Amazon Book Administration</span>
</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
           
            <NavLink class="btn btn-block btn-outline-primary" href="/admin/books" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn btn-block btn-outline-primary" href="/admin/purchases" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Purchases</NavLink>

        </div>

        <div class="col">
            <!--pulls in the body from the books.razor and purchases.razor-->
            @Body
        </div>

    </div>

</div>
