@{
    Layout = null;
}

@model LoginModel

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Amazon Bookstore Login</title>
        <link rel="stylesheet" href="~/L/bootstrap/b2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/look.css" />
    </head>
    <body>

        <div class="bg=dark text-white p-2">
            <span class="navbar-brand m-1-2">BOOKS</span>
        </div>

        @*<div class="m-1 p-1">*@
        <div class="jumbotron d-inline-flex">

            <div class="text-danger" asp-validation-summary="All"></div>

            <form method="post" asp-controller="Account" asp-action="Login">

                <div class="form-group">
                    <label asp-for="Username">Username: </label>
                    <input asp-for="Username" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" type="password" />
                </div>

                <button class="btn btn-primary" type="submit">Login</button>

                <input type="hidden" asp-for="ReturnUrl" />
            </form>
        </div>


</body>

</html>
